@font-face {
  font-family: 'Proxima Nova';
  src: url("../static/fonts/proximanova/proximanova-regular_v2.woff") format("woff"), url("../static/fonts/proximanova/proximanova-regular_v2.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("../static/fonts/proximanova/proximanova-semibold_v2.woff") format("woff"), url("../static/fonts/proximanova/proximanova-semibold_v2.woff2") format("woff2");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url("../static/fonts/proximanova/proximanova-bold.woff") format("woff"), url("../static/fonts/proximanova/proximanova-bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: normal;
  src: local("Source Sans Pro"), local("SourceSansPro-Regular"), url(https://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlBM0YzuT7MdOe03otPbuUS0.woff) format("woff"); }

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: bold;
  src: local("Source Sans Pro Semibold"), local("SourceSansPro-Semibold"), url(https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGJ6-ys_j0H4QL65VLqzI3wI.woff) format("woff"); }

body {
  font-size: 16px;
  line-height: 21px; }
  @media (min-width: 624px) {
    body {
      font-size: 16px;
      line-height: 24px; } }
  @media (min-width: 1021px) {
    body {
      font-size: 16px;
      line-height: 24px; } }

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Domain';
  src: url("../static/fonts/domain-icons/Domain_v2.eot");
  src: url("../static/fonts/domain-icons/Domain_v2.eot?#iefix") format("embedded-opentype"), url("../static/fonts/domain-icons/Domain_v2.ttf") format("truetype"), url("../static/fonts/domain-icons/Domain_v2.woff") format("woff"), url("../static/fonts/domain-icons/Domain_v2.svg#Domain") format("svg");
  font-weight: normal;
  font-style: normal; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  font-family: "Source Sans Pro", sans-serif;
  color: #515b6e;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }
