<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no"/>
    <link rel="icon" href="../static/img/images_homepage/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/css_homepage/grid.css">
    <link rel="stylesheet" href="../static/css/css_homepage/style.css">
	<link rel="stylesheet" href="../static/css/css_homepage/search-style.css">
    <link rel="stylesheet" href="../static/css/css_homepage/camera.css">
    <link rel="stylesheet" href="../static/css/css_homepage/jquery.fancybox.css">

    <script src="../static/js/js_homepage/jquery.js"></script>
    <script src="../static/js/js_homepage/jquery-migrate-1.2.1.js"></script>

    <!--[if lt IE 9]>
    <html class="lt-ie9">
    <div style=' clear: both; text-align:center; position: relative;'>
        <a href="http://windows.microsoft.com/en-US/internet-explorer/..">
            <img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820"
                 alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/>
        </a> 
    </div>
    <script src="js/html5shiv.js"></script>
    <![endif]-->
 
    <script src='../static/js/js_homepagejs/device.min.js'></script> 
</head>

<body>
<div class="page">
    <!--========================================================
                              HEADER
    =========================================================-->
    <header>

        <div class="camera_container">
            <div id="camera" class="camera_wrap">
                <div data-thumb="../img/images_homepage/slide01_thumb.jpg" data-src="../img/images_homepage/slide01.jpg">
                    <div class="camera_caption fadeIn">
                    </div>
                </div>
                <div data-thumb="../img/images_homepage/slide02_thumb.jpg" data-src="../img/images_homepage/slide02.jpg">
                    <div class="camera_caption fadeIn">
                    </div>
                </div>
                <div data-thumb="../img/images_homepage/slide03_thumb.jpg" data-src="../img/images_homepage/slide03.jpg">
                    <div class="camera_caption fadeIn">
                    </div>
                </div>
            </div>

            <div class="brand wow fadeIn">
                <h3 class="brand_name">
                    <a href="./">IView Rentals</a>
                </h1>
				
				<div id="cover">
				    <form method="get" action="">
					    <div class="tb">
						    <div class="td"><input type="text"  placeholder="Street, Suburb or Postcode">
                                <input type="hidden" id="hidType"> </div>
						    <div class="td" id="s-cover">
						        <button type="submit">
                                    <div id="s-circle"></div>
                                    <span></span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>		
            </div>
			
        </div>

    </header>
    <!--========================================================
                              CONTENT
    =========================================================-->
    <main>
        <section class="well">
            <div class="container">
                <h2><em>IView Rentals</em>Canberra</h2>
                <div class="row">
                    <div class="grid_6">
                        <div class="img img__border"><div class="lazy-img" style="padding-bottom: 63.0282%;"><img data-src="../static/img/images_homepage/page-1_img01.jpg" alt=""></div></div>
						<div style= "text-align:center;margin-left: auto; margin-right: auto;">
                            <p class="center indents-1">
						                            <h3>Rental Viewing Service</h3>
						                            We go to rental inspections and opens inspections when you can't.
						                            We professionally represent you at the open inspections and register your details to the agent so you can then submit an application.</br>
													Starting from $59.00</br>
													- Pictures of property</br>
													- Basic Inspection report of property</br>
													Make your 1st impression to the agent the best one.</br>
													Don't miss out on your dream rental let the professionals do it for you.</br>
													<b>IViewRentals4U </br></b>
													<b>The Professional Rental Viewing Service</b>
						    </p>
					    </div>
                        </div>
                    <div class="grid_6">
                        <div class="img img__border"><div class="lazy-img" style="padding-bottom: 63.0282%;"><img data-src="../static/img/images_homepage/page-1_img02.jpg" alt=""></div></div>
                        <div style= "text-align:center;margin-left: auto; margin-right: auto;">
						    <p class="center indents-1">
						                           <h3>Rental Search Service</h3>
						                            Are you looking for a rental and finding it a mind field to be across all the search sites and online rental groups to try and find your next rental in Canberra’s tough rental market? </br>
						                            Let the experts help you in your rental search.</br>
													We know life is busy and searching for a rental is time consuming and can be beyond stressful.</br>
													We provide a rental search service where we do the searching for you. We work with all the local agents to find on and off market rentals that meet your needs. We are across all the online sites to be able to find the latest listings.</br>
													From $475</br>
													Book A Free Consult Today
							</p>
						</div>
						</div>
                </div>
                <div class="decoration"><a href="https://iviewrentals.com.au/" class="btn">Read more</a></div>
            </div>
        </section>
  
        <section class="well well__offset-2">
            <div class="container center">
                <p class="indents-2", style= "font-size:20px;">
				Book A Rental Inspection Today $59</br>
				We Go To Rental Inpsections When You Can't</br>
				Due to high demand when making a booking for a rental inspection service if the time you need is not there please call 0490712232 or email contactus@iviewrentals4u.com.au and we will book it in manually for you.</br>
				</br>
				IView Rentals Canberra</br>
				Australian Capital Territory 2609, Australia
				<address class="address-1">
                    <dl><dt>Call Us Now</dt> <dd>Let Us Do The Hard Work For You</dd></dl>
                    <p><em>04-9071-2232</em></p>
                </address>
            </div>
        </section>
		
    </main>

    <!--========================================================
                              FOOTER
    =========================================================-->
    <footer>
        <div class="copyright">© <span id="copyright-year"></span>- iViewrentals4u - All Rights Reserved.
           <a href="#">Privacy Policy</a>
        </div> 
    </footer>
</div>

<script src="js/script.js"></script>
</body>
</html>