<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.rentsummary.dao.UserDAO">
    
    <resultMap id="UserMap" type="UserEntity">
        <id property="id" column="id"/>
        <result property="account" column="account"/>
        <result property="password" column="password"/>
        <result property="phone" column="phone"/>
        <result property="email" column="email"/>
        <result property="cityId" column="city_id"/>
        <result property="baseSearch" column="base_search"/>
        <result property="hidTypeValue" column="hid_type_val"/>
        <result property="searchInputPageTxt" column="search_input_text"/>
        <result property="searchInputValue" column="search_input_val"/>
    </resultMap>

    <!-- user login -->
    <select id="login" parameterType="UserEntity" resultType="UserEntity">
        select * from users
        <where>
            1=1
            <if test="account!=null and account!=''">
                and account=#{account}
            </if>
            <if test="password!=null and password!=''">
                and password=#{password}
            </if>
        </where>
    </select>

    <!-- register -->
    <insert id="register" parameterType="UserEntity">
        insert into users(account, password, phone, email, city_id)
        values (#{account}, #{password}, #{phone}, #{email}, #{cityId})
    </insert>

    <!-- get the state  -->
    <select id="getState" resultType="StateEntity">
        select * from state
    </select>

    <!-- get the city -->
    <select id="getCityById" parameterType="Integer" resultType="CityEntity">
        select * from city where state_id=#{id}
    </select>

    <!-- get the square -->
    <select id="getAreaById" parameterType="Integer" resultType="AreaEntity">
        select * from area where city_id=#{id}
    </select>

    <update id="addUserHistory" parameterType="UserEntity">
        update users set base_search=#{baseSearch},search_input_val=#{searchInputValue},
        search_input_text=#{searchInputPageTxt},hid_type_val=#{hidTypeValue} where id=#{id}
    </update>

    <!--find user by userid-->
    <select id="getUserById" parameterType="Integer" resultMap="UserMap" >
        select * from users where id=#{id}
    </select>

    <!--find user by account number-->
    <select id="getUserByAccount" parameterType="String" resultType="UserEntity">
        select * from users where account = #{account}
    </select>


</mapper>